<!DOCTYP html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" >
<meta name="format-detection" content="telephone=no" >
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="icon" href="//favicon.ico">
<!-- S REM Zoom 计算 -->
<script type="text/javascript">
(function(f){var e={};var h=f.document.documentElement,d,g=<%= htmlWebpackPlugin.options.RESPONSIVE_REM %>,a=<%= htmlWebpackPlugin.options.RESPONSIVE_ZOOM %>;function b(){var k=h.getBoundingClientRect().width;if(k>640){k=640}if(g){var m=k/20;h.style.fontSize=m+"px";e.rem=m;var i=parseFloat(window.getComputedStyle(document.documentElement)["font-size"]);if(i!==m&&i>0&&Math.abs(i-m)>1){var l=m*m/i;h.style.fontSize=l+"px"}}if(a){var j=document.getElementById("J__style");if(!j){j=document.createElement("style");j.id="J__style"}j.innerHTML=".__z{zoom:"+k/<%= htmlWebpackPlugin.options.DESIGN_WIDTH %>+"}";document.getElementsByTagName("head")[0].appendChild(j)}}function c(){clearTimeout(d);d=setTimeout(b,100)}f.addEventListener("resize",function(){c()},false);f.addEventListener("pageshow",function(i){if(i.persisted){c()}},false);b();if(g){e.refresh=b;e.rem2px=function(j){var i=parseFloat(j)*this.rem;if(typeof j==="string"&&j.match(/rem$/)){i+="px"}return i};e.px2rem=function(j){var i=parseFloat(j)/this.rem;if(typeof j==="string"&&j.match(/px$/)){i+="rem"}return i};f.remCalc=e}})(window);
</script>
<!-- E REM 计算 -->
</head>
<body>

<% if(htmlWebpackPlugin.options.ISCSSINTERNAL) {%>
<style>
   <%= compilation.assets[(htmlWebpackPlugin.files.css + '').substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
</style>
<% }else{%>
<% if(htmlWebpackPlugin.options.ASSETS.css) {%>
<link rel="stylesheet" href="<%=htmlWebpackPlugin.options.publicPath%><%=htmlWebpackPlugin.options.ASSETS.css%>"/>
<% } } %>
<div class="container">
    
<!--Begin 主要内容-->

    <%= require('../../' + htmlWebpackPlugin.options.templatePath + '/index.html')%>

<!--END 主要内容-->   

</div>
<% if(htmlWebpackPlugin.options.ASSETS.js) {%>
<script src="<%=htmlWebpackPlugin.options.publicPath%><%=htmlWebpackPlugin.options.ASSETS.js%>"></script>
<% } %>
</body>
</html>


